.card {
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 4px 4px 10px 4px #efefef;
  box-shadow: 4px 4px 10px 4px #efefef;
  display: flex;
  flex-direction: column;

  .card-details {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    .airplane-name {
      font-size: 1.5rem;
      flex: 1;
    }

    .total-times-container {
      display: flex;
      align-items: center;

      :first-child {
        flex: 1;
      }

      .total-times-incrementer {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
      }
    }
  }

  img {
    height: 12.5rem;
    object-fit: cover;
    width: 100%;
  }
}
